body {
  margin: 0;
  background-color: #e4e4e4;
  background-image: url('../public/images/paper.jpg');
  background-repeat: repeat;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

html {
    font-family: 'Arbutus Slab', serif;
    font-size: 1.6rem;
}

img {
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.Logo {
    font-family: 'Fredericka the Great', serif;
    font-size: 7rem;
}

.LogoShrinks {
  font-family: 'Fredericka the Great', 'Arbutus Slab', serif;
  font-size: 4rem;
  -webkit-animation-name: LogoShrinks; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: LogoShrinks;
  animation-duration: 4s;
  transition-timing-function: ease-in-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes LogoShrinks {
  from {font-size: 7rem;}
  to {font-size: 4rem;}
}

/* Standard syntax */
@keyframes LogoShrinks {
  from {font-size: 7rem;}
  to {font-size: 4rem;}
}

.ItemCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ItemCards div {
  font-size: .75rem; 
}

.ItemCards img {
  max-width: 120px; 
}

/* .overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
} */
