:root {
  --paper-grey: #e4e4e4;
  --dark-blue: #002c59;
  --border-radius: 4px;
}

body {
  margin: 0;
  background-color: var(--paper-grey);
  background-image: url('../public/images/paper.jpg');
  background-repeat: repeat;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

html {
  font-family: 'Arbutus Slab', serif;
  font-size: 1.6rem;
  color: var(--dark-blue);
}

img {
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.Logo {
  font-family: 'Fredericka the Great', 'Arbutus Slab', serif;
  font-size: 7rem;
}

.LogoShrinks {
  font-family: 'Fredericka the Great', 'Arbutus Slab', serif;
  font-size: 4rem;
  -webkit-animation-name: LogoShrinks; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: LogoShrinks;
  animation-duration: 4s;
  transition-timing-function: ease-in-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes LogoShrinks {
  from {
    font-size: 7rem;
  }
  to {
    font-size: 4rem;
  }
}

/* Standard syntax */
@keyframes LogoShrinks {
  from {
    font-size: 7rem;
  }
  to {
    font-size: 4rem;
  }
}

/* Log in buttons */

.halfbutton {
  margin: 10px auto;
  font-family: 'Arbutus Slab', serif;
  font-size: 0.75rem;
  padding: 7px;
  outline-width: 0;
}

.left {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.right {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.active {
  background-color: #002c59;
  color: #e4e4e4;
  border: 1.5px solid #002c59;
}

.ghost {
  background-color: #e4e4e4;
  color: #002c59;
  border: 1px solid #002c59;
}
/* End of Log in buttons */

/* Upload button */

.uploadButton {
  height: 1rem;
  padding: 4px;
  background-color: var(--paper-grey);
  color: var(--dark-blue);
  font-family: 'Arbutus Slab', serif;
  font-size: 0.6rem;
  border: 1px solid #002c59;
  border-radius: var(--border-radius);
  outline-width: 0;
  cursor: pointer;
}

.home-div {
  display: flex;
  flex-direction: row;
}

.categories-div {
  padding-left: 30px;
  min-width: 200px;
  margin-top: 25px;
  font-size: 0.8rem;
}

.ItemCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ItemCards div {
  font-size: 0.75rem;
}

.ItemCards img {
  max-width: 120px;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.623);
}

/* .popup {
  z-index: 100;
  position: fixed;
  min-width: 400px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-radius: var(--border-radius);
  background-color: white;
} */
